/* service */
#service {
   margin: 6% 0 !important;
}
#service ul img {
   width: 24px;
   height: 24px;
}
#service li {
   list-style: none;
}

#service .list-service {
   margin-left: -0.5rem;
   overflow: hidden;
}

/* why */
#why {
   margin: 6% 0 !important;
}
#why img {
   width: 12%;
}

/* testi */
#testimoni .row {
   background-color: #f1f3ff;
}

/* banner */
#banner {
   margin-top: 5% !important;
}
#banner .main-button {
   background-color: #5cb85f;
   border: none;
   color: white;
}

#banner .item {
   padding: 5% 10% !important;
   background-color: #0d28a6;
   color: white;
}

#banner p {
   margin: 0 auto;
   width: 60%;
}

/* footer */

@media only screen and (max-width: 768px) {
   #hero {
      height: 90vh;
      background-color: #f1f3ff;
   }

   #hero img {
      width: 98%;
   }

   #hero .main-button {
      background-color: #5cb85f;
      border: none;
      color: white;
      margin-bottom: 2rem;
   }

   #hero p {
      width: 80%;
   }

   #why .title {
      text-align: center;
   }

   #why img {
      width: 8%;
   }

   /* service */
   #service img.img-service {
      width: 80%;
      margin: 10px auto;
      margin-bottom: 5%;
   }

   #service ul img {
      width: 5%;
      height: 5%;
   }
}
