.countdown-container{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.transferpayment-container{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.rekeningField{
    border: 0.5px solid gray;
    border-radius: 5px;
}

.instruction-container{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
  }
  
.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
}
  
.tabs__radio {
    display: none;
}
  
.tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}
  
.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
}
  
.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}
  
.confirm-button{
    background-color: #5CB85F;
    width: 100%;
    height: 36px;
    border: none;
    color: white;
    border-radius: 2px;
}

.confirmPayment-container{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: fit-content;
}
