.img-leftnarrow{
    width: 24px;
    height: 24px;
}

.form-detail-pesanan{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.container-pilih-bank{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px; 
    height: fit-content;
}

.container-detailpembayaran{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px; 
    height: fit-content;
}

.container-transferpembayaran{
    margin-top: 150px;
}

.button-transfer{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #EEEEEE;
    background: #FFFFFF;  
    height: fit-content; 
}

.dropdown-button{
    height: fit-content;
    width: fit-content;
    background-color:transparent;
    border: none;
    outline: none;
}

.sub-menu-wrap{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #EEEEEE;
}

li{
    color: black;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.input-container{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #EEEEEE;
    height: 3rem;
}

.input{
    position: absolute;
    cursor: pointer;
    height: 2rem;
    width: 35rem;
    z-index: 2;
    opacity: 0;
}

.icon_check{
    visibility:hidden;
    color: #5CB85F;
}

input:checked+.icon_check{
    visibility: visible;
}

.button-bayar{
    background-color: #5CB85F;
    width: 100%;
    height: 36px;
    border: none;
    color: white;
    border-radius: 2px;
}

