.formcar-card {
    margin-top: -42px;           
}

.formcar-card.search-mode, .blankform-card {
    margin-top: -60px!important;  
}

.form-color:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
} 

@media screen and (max-width: 768px){
    .formcar-card {
        margin-top: 20px;
    }
}
