.binar-logo {
    width: 100px;
    height: 34px;
    background: #CFD4ED;
    margin: 2rem 0 1.75rem; 
}

.login__font {
    font-family: Arial, sans-serif;
    font-size: .875rem;
    line-height: 1.4286;
}

.login__placeholder {
    font-family: Arial, sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    padding: 10px 15px;
}

.main-page {
    top: 0;
    left: 0;
    transform-origin: top left;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;  
}

.main-page--transform {
    top: 25.9%;
    left: 58%;
    -webkit-transform: scale(.635);
    -moz-transform: scale(.635);
    -o-transform: scale(.635);
    transform: scale(.635);
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;  
}

.main-page--absolute {
    position: absolute;
    cursor: zoom-in;
}

@media screen and (max-width: 768px){
    .main-page--absolute {
        display: none;
    }
}

.form-control.tab--invalid {
    border-color: #dc3545!important;  
}

.form-control.tab--invalid:focus {
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25)!important;
}

