.navbar{
    background-color: #F1F3FF;
}

.brand{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;   
}

.register{
    background-color: #5CB85F;
    width: 81px;
    height: 36px;
    border: none;
    color: white;
    border-radius: 2px;
}

.footer{
    margin-top: 80px;
    padding-bottom: 64px;
}

.icon{
    margin-right: 16px;
}

.address{
    margin-right: 50px;
    font-weight: bold;
}

.connect,.copyright{
    font-weight: bold;
}

.logo_binar{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

.link{
    text-decoration: none;
    color: black;
}
